{% extends "base.html" %}
{% block content %}

  <div class="col-xs-offset-1 col-xs-10">

    <h3>Add Modules/Functions</h3>

    <form action="/{{ username }}/addmodules" method="POST">
      Module Name: <input type="text" name="mname" class="textbox"><br>
      Module Description: <textarea name="mdesc" class="form-control textbox" rows="2" style="width:90%"></textarea>
      <br>

      <div id="showmod" class="active addm btn">Show add additional module info</div>
      <div id="hidemod" class="active addm btn">Hide add additional module info</div>

      <div id="maddinfo">Module Additional Info: <textarea name="maddinfo" class="form-control textbox" style="width:90%"></textarea></div>
      <br><br>

      Function Name: <input type="text" name="fname" class="textbox"><br>
      Function Description: <textarea name="fdesc" class="form-control textbox" rows="2" style="width:90%"></textarea><br>

      <div id="showfunc" class="addf btn active">Show add additional function info</div>
      <div id="hidefunc" class="addf btn active">Hide add additional function info</div>

      <div id="faddinfo">Function Additional Info: <textarea name="faddinfo" class="form-control textbox" style="width:90%"></textarea></div><br>


      Example Code:<br><br>
      Function code to run: <textarea name="samplecode" class="form-control textbox" rows="1" style="width:90%"></textarea><br>
      Function output: <textarea name="output" class="form-control textbox" rows="1" style="width:90%"></textarea><br><br>
      <input type="submit" value="Add New Function Info" class="btn active">

    </form>

  </div>

{% endblock %}

{% block js %}
  <script>
    $("#maddinfo").hide();
    $("#hidemod").hide();
    $(".addm").on("click", function () { $("#maddinfo").toggle();
                                        $(".addm").toggle(); });

    $("#faddinfo").hide();
    $("#hidefunc").hide();
    $(".addf").on("click", function () { $("#faddinfo").toggle(); 
                                        $(".addf").toggle(); });

  </script>
{% endblock %}