{% extends "base.html" %}
{% block content %}

    <h4><a href="/{{ session["current_user"] }}/dashboard" id="exit" class="class-xs-offset-11 class-xs-1 btn btn-info active">Exit Quiz<a></h4>

  <div class="col-xs-offset-2 col-xs-8">

    <p>Your answer is {{ result }}<br>

    The correct answer is: {{ answer }}</p><br>

    <a href="/{{ session["current_user"] }}/quiz" class="btn active">Next Question</a><br><br>

  </div>

{% endblock %}

{% block js %}
  <script>
    $("#dash").hide();
  </script>
{% endblock %}