<!doctype html>
<html>
<head>
  <title>Code Program</title>
</head>

<body>

  </ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>

  <a href="/">Homepage</a>
  <a href="/register">Register</a>

  {% if 'current_user' in session %}  
    <a href="/logout">Logout</a><br>
  {% else %}
    <a href="/login">Login</a>
  {% endif %}  

  {% if 'current_user' in session %}
    <h1>{{ session['current_user'] }}'s Study Session</h1>
  {% endif %}


  {% block content %}{% endblock %}

</body>
</html>