{% extends 'base.html' %}


{% block content %}

  {% if 'current_user' in session %}
    <h3>{{ session['current_user'] }}'s Dashboard</h3>
  {% endif %}

  <a href="/{{ username }}/info">User info</a><br><br>
  <a href="/{{ username }}/studynotes">Study Notes</a><br>
  This shows the entries in your database.<br><br>

  <a href="/{{ session["current_user"] }}/quiz">Quiz</a><br>

  This quiz is randomly generated based on the entries in your database and thus can only be as accurate as the data you input.<br>
  Please check the accuracy of your entries before you add them.

{% endblock %}

{% block js %}
  <script>
  $("#dash").hide();
  </script>
{% endblock %}