{% extends "base.html" %}

{% block head %}
  <style>

    body {
      background-color: #acc4e1;
    }

  </style>
{% endblock %}
{% block content %}


  
  <div class="col-xs-offset-2 col-xs-8" id="dashboard">


    {% if 'current_user' in session %}
      <h3>{{ session['current_user'] }}'s Dashboard</h3>
    {% endif %}

    <a href="/{{ username }}/info" class="btn active btn-lg">User info</a><br>
    Shows user info<br><br>

    <a href="/{{ username }}/studynotes" class="btn active btn-lg">Study Notes</a><br>
    Shows the module/function entries in your database.<br><br>

    <a href="/{{ session["current_user"] }}/quiz" class="btn active btn-lg">Quiz</a><br>

    This quiz is randomly generated based on the entries in your database and thus can only be as accurate as the data you input.<br>
    Please check the accuracy of your entries before you add them.

  </div>

{% endblock %}

{% block js %}
  <script>
    $("#dash").hide();
  </script>
{% endblock %}