{% extends "base.html" %}

{% block head %}

  <style>
    
    /*Testing different styles*/

    .titletext {

      font-family: helvetica, sans-serif, impact;
    }
   

    h1 {
      color: #5F98FF;
      font-family: impact;
    }

    h2 {

    }

    p {

      color: #924AFF;
    }

    body {
      background-color: #acc4e1;
      background: url(static/img/python_image.jpg) no-repeat;
      

      background-size: cover;
    }

  </style>
{% endblock %}


{% block content %}

  <div class="container-fluid col-xs-offset-8" id="title">

    <br><br><br>

    <p id="titletext">
    
    <br><br>

    <h2>PyQuizBase: A Python Study Tool</h2><br><br>


    <p>Make study notes and test your knowledge.</p><br>

    <!-- <h1>CODE PYTHON!!</h1> -->
   </p>
  </div>

{% endblock %}

{% block js %}
  <script>
    $("#title").hide()
    $("#title").fadeIn(5000)
  </script>
{% endblock %}