{% extends "base.html" %}

{% block head %}

  <style>
    .title {

      color: red;
    }

    h1 {
      color: #5F98FF;
    }

    p {

      color: #924AFF;
    }
  </style>
{% endblock %}


{% block content %}

  <div class="col-xs-offset-8" id="title">

    <br><br><br><br><br><br><br><br><br><br><br><br><br>



    <h1>CODE!!</h1>

    <p>Make study notes and test your knowledge.</p>
      
  </div>

{% endblock %}

{% block js %}
  <script>
    $("#title").hide()
    $("#title").fadeIn(3000)
  </script>
{% endblock %}