{% extends "base.html" %}

{% block head %}
  <style>

    #exit {
      align-items: right;
    /*  color: black;
      background-color: powderblue;
      background-color: royalblue;
      background-color: lightskyblue;*/
    }

    #question {
      border: solid 1px black;
    }

    .button {

      background-color: powderblue;

    }


  </style>
{% endblock %}

{% block content %}

  <h4><a href="/{{ session["current_user"] }}/dashboard" id="exit" class="class-xs-offset-11 class-xs-1 btn btn-info active">Exit Quiz<a></h4>

  <div id="question" class="col-xs-offset-3 col-xs-6">

    <h1>Question:<h1>

    <h4>{{ question }}</h4>

    <h4>{{ input_code }}</h4><br>

    <form action="/{{ session["current_user"] }}/quiz" method="POST">
     
      {% for i, ans in answer_choices %}
        <button type="submit" name="useranswer" value={{ i }} 
        class="btn btn-info btn-lg btn-block" style="width:100%">{{ ans }}</button><br>
      {% endfor %}<br>
    
    </form>

  

  </div>

{% endblock %}

{% block js %}
  <script>
    $("#dash").hide();
  </script>
{% endblock %}
