{% extends "base.html" %}
{% block content %}
  
<div class="col-xs-offset-4 col-xs-4">
  <h3>Register</h3>
  <br><br>


  <form action="/register", method="POST">
    Username:   <input type="text" name="username" class="textbox"><br>
    First Name: <input type="text" name="firstname" class="textbox"><br>
    Last Name:  <input type="text" name="lastname" class="textbox"><br>
    Email: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" name="email" class="textbox"><br>
    Password:   <input type="password" name="password" class="textbox"><br><br>
    <input type="submit" value="Register" class="btn">
  </form>
</div>

{% endblock %}

{% block js %}
  <script>
    $(".prog").hide()
  </script>
{% endblock %}