{% extends "base.html" %}

{% block head %}
  <style>
    .modtitle {
      background-color: #81d6e3;
    }

    .modinfo {
      background-color: #b2ddf7;
    }
  
    .functitle {
      background-color: #8ed081;
    }

    .funcinfo {
      background-color: #96E6B3;


    }
  </style>
{% endblock %}

{% block content %}

  <br><br><br><br><br><br><br>

  <div class="col-xs-offset-1 col-xs-10 alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3><strong>This module does not have functions!</strong></h3>
  </div>



  <div class="col-xs-offset-1 col-xs-10">

    <h3>Modules/Functions Info</h3>

    <a href="/{{ username }}/addmodules">Add Modules/Functions</a><br><br>
    
    <b>If the module contains function entries, clicking on it will show them.</b>
  <!-- Some class labels are for coloring -->


    <table style="width:100%" class="table table-bordered table-hover">
      
      <tr class="table-hover modtitle" >
        <th>Module Name</th>
        <th>Description</th>
        <th>Additional Info</th>
      </tr>

      {% for mod in study_table %}
        <tr class="modinfo mod{{ mod.module_id }}">
          <td>{{ mod.name }}</td>  
          <td>{{ mod.description }}</td>  
          <td>{{ mod.additional_info }}</td>  
        </tr>

        {% if mod.functions %}
          <tr class="func{{ mod.module_id }} func">
            <td colspan=3>

              <table style="width:98%" class="table table-bordered table-hover">

                <tr class="functitle">
                  <th>Function Name</th>
                  <th>Description</th>
                  <th>Additional Info</th>
                  <th>Example</th>
                </tr>
      
                {% for func in mod.functions %}
                  <tr class="funcinfo func{{ mod.module_id }} func">
                    <td>{{ func.name }}</td>
                    <td>{{ func.description }}</td>
                    <td>{{ func.additional_info }}</td>
                    <td>{% if func.sample_code and func.output %}
                      {{ func.sample_code }} -> {{ func.output }}
                      {% endif %}</td>
                  </tr>
                {% endfor %}

              </table>
          </tr>
        {% endif %}
      {% endfor %}
    </table>

  </div>

{% endblock %}

{% block js %}

  <script>
    "use strict";
    $(".func").hide();
    $(".alert").hide();

  </script>

  {% for mod in study_table %}
    <script>
      "use strict";
      $(".mod{{ mod.module_id }}").on("click", function () { $(".func{{ mod.module_id }}").fadeToggle(800); });
    </script>
  {% endfor %}

  {% for module_id in empty_mod %}
    <script>
      "use strict";
      $(".mod{{ module_id }}").on("click", function () { $(".alert").show().slideUp(2000); });
    </script>
  {% endfor %}

<!--   {% for module_id in empty_mod %}
    <script>
      "use strict";
      $(".mod{{ module_id }}").on("click", function () { alert("This module does not have functions."); });
    </script>
  {% endfor %} -->
  
 
{% endblock %}