{% extends "base.html" %}
{% block content %}

  <h3>Modules/Functions Info</h3>

  <a href="/{{ username }}/addmodules">Add Modules/Functions</a>
  
  

  <table style="width:100%" class="table table-bordered table-hover">
    <tr>
      <th>Module Name</th>
      <th>Description</th>
      <th>Additional Info</th>
    </tr>
    {% for mod in study_table %}
    <tr>
      <td>{{ mod.name }}</td>  
      <td>{{ mod.description }}</td>  
      <td>{{ mod.additional_info }}</td>  
    </tr>
    {% endfor %}
  </table>
 

 

      {# 
        <table class="table-bordered">
        <tr>
          <th>Function Name</th>
          <th>Description</th>
          <th>Additional Info</th>
          <th>Example</th>
        
         {% for func in mod.functions %}
        </tr>
          <td>{{ func.name }}</td>
          <td>{{ func.description }}</td>
          <td>{{ func.additional_info }}</td>
          <td>{{ func.sample_code }}:{{ func.output }}</td>
        </tr>
        {% endfor %}

         </table> #}




{% endblock %}